// HOMEPAGE INTRO

section.intro{
    background-color: $white-shade;
    padding: 100px 0 120px;

    .flexWrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            margin: 20px;
        }
        p {
            margin: 20px 0;
        }
        a {
            margin: 20px;
        }
        @media (max-width: $horizontalTablet){
            margin: 0 3rem;
        }
    }
    @media (max-width: $smallDesktop){
        padding-bottom: 5rem;
    }
    @media(max-width: $horizontalTablet){
        padding: 5rem 0;
    }
}

// HOMEPAGE ARTICLES
section.articles 
    .articleWrapper{
        justify-content: space-between;
        .imageWrapper{
            flex: 0 1 50%;
            position: relative;
        }
        .flexWrapper{
            flex: 1 1 40%;
            flex-direction: column;
            justify-content: center;
            h3{
                margin-bottom: 1rem;
            }
            p{
                margin: 1rem 0;
            }
            a{
                margin-top: 1rem;
            }
        }
    }


.article1{
    .flexWrapper{
        margin:10rem 0 5rem 10rem;
    }
    .imageWrapper{
        top: -5rem;
        box-shadow: 2rem 2rem $green-grey, -55rem 2rem $green-grey;
    }
}

.article2{
    .flexWrapper{
        text-align: right;
        align-items: flex-end;
        margin: 0 10rem 5rem 0rem;
    }
    .imageWrapper{
        bottom: -5rem;
        box-shadow: 2rem 2rem $pine, 55rem 2rem $pine;
    }
}



@media (max-width: $smallDesktop) {

    section.articles{
        padding-top: 5rem;
    }


    .articleWrapper.article1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .flexWrapper{
            align-items: center;
            margin: 5rem 15rem;
            text-align: center;
        }
        .imageWrapper{
            width: 70%;
            top: 0;
            box-shadow: 2rem 2rem $green-grey;
        }
    }

    .articleWrapper.article2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .flexWrapper{
            align-items: center;
            margin: 5rem 15rem;
            text-align: center;
        }
        .imageWrapper{
            width: 70%;
            bottom: 0;
            box-shadow: 2rem 2rem $pine;
            
        }
    }
}
@media(max-width: $verticalTablet){
    .articleWrapper.flexWrapper>.flexWrapper{
        margin: 5rem;
    }
}

// HOMEPAGE ABOUT SECTION

section.about{
    background-color: $white-shade;
    padding: 12rem 0;
    margin-top: 3rem;
    @media (max-width: $horizontalTablet){
        padding: 6rem 0;
    }
}

.aboutWrapper{
    .imageWrapper{
        flex: 0 1 25%;
        box-shadow: 2rem 2rem $green-grey;
        position:relative;
        top: -2rem;
        @media(max-width: $horizontalTablet){
            display: none;
        }
    }
    .flexWrapper{
        flex: 1 1 50%;
        flex-direction: column;
        margin-left: 10rem;
        justify-content: space-around;
        a{
            margin-top: 1rem;
        }
        @media(max-width: $horizontalTablet){
            text-align: center;
            margin: 0;
            align-items: center;
            justify-content: space-between;
            a,
            p,
            h2 {
                margin: 2rem;
            }
        }
    }
}

// HOMEPAGE BANNER IMAGE SECTION
section.banner{
    @media(max-width:$horizontalTablet){
        display: none;
    }
}

// HOMEPAGE GALLERY SECTION

section.gallery>.wrapper>.flexWrapper{
    margin: 10rem 0;
    justify-content: space-between;
    .imageWrapper{
        width: calc((100% / 3) - (8rem / 3));
        @media (max-width:$verticalTablet){
            width: 70%;
            margin: 2rem;
        }
    }
    @media(max-width: $verticalTablet){
        flex-direction: column;
        align-items: center;
        margin: 3rem auto;
    }
}

// HOMEPAGE LINKS SECTION

section.links{
    background-color: $white-shade;
    padding: 3rem 0 10rem;
    @media(max-width: $mobile){
        padding: 1rem 0 5rem;
    }
}

section.links>.wrapper>.flexWrapper{
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:$horizontalTablet){
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem; 
    }
}

.linkWrapper{
    flex-basis: 40%;
    margin: 8rem 0 0 8rem;
    position: relative;
    
    i{
        position: absolute;
        left: -8rem;
        top: -1rem;
        background-color: $accent;
        border-radius: 50%;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        text-align: center;
        padding: 1.4rem;
        @media(max-width: $mobile){
            position: static;
            margin-bottom: 2rem;
        }
    }
    @media(max-width: $mobile){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-top: 4rem;
    }
    p {
        @media(max-width: $mobile){
            display: none;
        }
    }

}
// BLOG AND CONTACT PAGES
main.contactMain,
main.blogPost{
    background-color:$white-shade;
}

aside{
    background-color:$white;
    padding: 5rem 3.5rem;
}


// CONTACT PAGE 
main.contactMain{
    padding: 10rem 0;
    @media(max-width:$horizontalTablet){
        padding: 5rem;
    }
    @media(max-width:$mobile){
        padding: 0;
    }
    aside{
        width: 62rem;
        height: fit-content;
        margin-right: 3.8rem;
        @media(max-width:$horizontalTablet){
            text-align: center;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 3rem;
            border-bottom: $green-grey solid 0.5rem;
        }
        @media(max-width: $mobile){
            margin-bottom: 0;
        }

    }

}

.contactWrapper{
    @media(max-width:$horizontalTablet){
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
}

.contactMain ul.iconList{
    display: flex;
    flex-direction: row;
    color: $pine;
    justify-content: space-between;
    width: 20rem;
}

// BLOG POST

main.blogPost{
    padding:  10rem 0;
    @media(max-width:$horizontalTablet){
        padding: 5rem;
    }
    @media(max-width: $mobile){
        padding: 0;
    }
}

div.blogSidebar,
div.blogContent{
    flex-direction: column;
}

div.blogWrapper{
    @media(max-width: $horizontalTablet){
        display: flex;
        flex-direction: column-reverse;
    }
}


// sidebar
div.blogSidebar{
    flex: 1 1 30%;
    margin-right: 2rem;
    @media(max-width: $horizontalTablet){
        margin: 0;
        text-align: center;
        .imageWrapper{
            display: none; 
        }
    }
}

aside.aboutAside{
    margin-bottom: 1rem;
    @media(max-width: $horizontalTablet){
        padding-top: 4rem;
        margin-top: 1rem;
        border-top: $green-grey solid 0.5rem;
    }
    @media(max-width: $mobile){
        margin-top: 0;
    }
}

aside.recentPosts{
    margin-top: 1rem;
}


// main Content
// articles
div.blogContent{
    flex: 1 1 60%;
    margin-left: 2rem;
    @media(max-width: $horizontalTablet){
        margin: 0;
    }
    article{
        background-color: $white;
    }
}

article{
    padding: 5rem 3.5rem 3.5rem;
    margin: 0 0.7rem 3.5rem;
    h2{
        margin-bottom: 3rem;
    }
    p {
        margin: 1.5rem 0; 
    }
}

article.comment{
    .imageWrapper{
        flex: 1 1 15%;
        margin-right: 2rem;
        @media(max-width: $mobile){
            max-width: 90px;
            margin-bottom: 1rem;
            box-shadow: 1rem -1rem $green-grey 
        }
    }
    .commentTextWrapper{
        flex: 1 1 80%;
        p{
            margin: 0;
        }
    }
    .flexWrapper{
        @media(max-width: $mobile){
            flex-direction: column;
            align-items: center;
        }
    }
}


article.lastComment,
article.blogPost{
    border-bottom: $green-grey 0.5rem solid;
}

