// HOMEPAGE INTRO

section.intro{
    background-color: $white-shade;
    padding: 100px 0 120px;

    .flexWrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            margin: 20px;
        }
        p {
            margin: 20px 0;
        }
        a {
            margin: 20px;
        }
    }
}

// HOMEPAGE ARTICLES
section.articles 
    .flexWrapper{
        justify-content: space-between;
        .imageWrapper{
            flex: 0 1 50%;
            position: relative;
        }
        .flexWrapper{
            flex: 1 1 40%;
            flex-direction: column;
            justify-content: center;
            h3{
                margin-bottom: 1rem;
            }
            p{
                margin: 1rem 0;
            }
            a{
                margin-top: 1rem;
            }
        }
    }


.article1.flexWrapper{
    .flexWrapper{
        margin:10rem 0 5rem 10rem;
    }
    .imageWrapper{
        top: -5rem;
        box-shadow: 2rem 2rem $green-grey, -55rem 2rem $green-grey;
    }
}

.article2.flexWrapper{
    .flexWrapper{
        text-align: right;
        align-items: flex-end;
        margin: 0 10rem 5rem 0rem;
    }
    .imageWrapper{
        bottom: -5rem;
        box-shadow: 2rem 2rem $pine, 55rem 2rem $pine;
    }
}


// HOMEPAGE ABOUT SECTION

section.about{
    background-color: $white-shade;
    padding: 12rem 0;
    margin-top: 3rem;
}

section.about>.wrapper>.flexWrapper{
    .imageWrapper{
        flex: 0 1 25%;
        box-shadow: 2rem 2rem $green-grey;
        position:relative;
        top: -2rem;
    }
    .flexWrapper{
        flex: 1 1 50%;
        flex-direction: column;
        margin-left: 10rem;
        justify-content: space-around;
        a{
            margin-top: 1rem;
        }
    }
}

// HOMEPAGE BANNER IMAGE SECTION

// HOMEPAGE GALLERY SECTION

section.gallery>.wrapper>.flexWrapper{
    margin: 10rem 0;
    justify-content: space-between;
    .imageWrapper{
        width: calc((100% / 3) - (8rem / 3))
    }
}

// HOMEPAGE LINKS SECTION

section.links{
    background-color: $white-shade;
    padding: 3rem 0 10rem;
}

section.links>.wrapper>.flexWrapper{
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkWrapper{
    flex-basis: 40%;
    margin: 8rem 0 0 8rem;
    position: relative;
    i{
        position: absolute;
        left: -8rem;
        top: -1rem;
        background-color: $accent;
        border-radius: 50%;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        text-align: center;
        padding: 1.4rem;
    }

}


