// Colors
$accent : #e4a436;
$accentLighter: #e4a43680;
$green-grey : #709b6b;
$pine : #345231;
$black: #1f1f1f;
$white-shade : #f6f6f6;
$white: #ffffff;
// font-families
$mainFont: 'Abril Fatface', cursive;
$bodyFont: 'Montserrat', sans-serif;