a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.centeredText {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  color: #f6f6f6;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  color: #f6f6f6;
  text-transform: uppercase;
  font-weight: 700;
}

nav .currentPage {
  color: #e4a436;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: #f6f6f6;
  font-size: 8rem;
  line-height: 9.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h1.homepageHero {
  font-size: 15rem;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

button,
a.button {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

ul.iconList {
  font-size: 2.5rem;
}

ul.addressList li:first-child {
  font-weight: 700;
  line-height: 7rem;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  opacity: 1;
}

::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  opacity: 1;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  opacity: 1;
}

.aboutAside h3 {
  line-height: 9rem;
}

.aboutAside a {
  font-weight: 700;
  color: #709b6b;
}

.recentPosts h3 {
  padding-bottom: 3.5rem;
}

.recentPosts ul li {
  padding-left: 4.5rem;
  background-image: url(../assets/point.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
}

button,
a.button {
  background-color: #e4a436;
  padding: 1rem 2.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}

button:active,
a.button:active {
  background-color: #e4a43680;
}

button {
  border: none;
}

nav {
  background-color: #345231;
}

nav ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin: 15px 25px;
}

header {
  background-color: #345231;
}

h1.homepageHero {
  position: relative;
  margin-left: 4rem;
}

h1.homepageHero::before {
  content: "";
  background-image: url(../assets/circle-text.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 13rem;
  height: 13rem;
  display: inline-block;
  position: absolute;
  top: -4rem;
  left: -4rem;
}

.flexWrapper.homepageHero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepageHero .imageWrapper {
  max-width: 45rem;
  margin-left: 50px;
  position: relative;
  top: 6rem;
  right: 1rem;
  -webkit-box-shadow: 2rem 2rem #ffffff;
          box-shadow: 2rem 2rem #ffffff;
}

header.contactHeader,
header.blogHeader {
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contactHeader h1,
.blogHeader h1 {
  position: absolute;
  bottom: -1.6rem;
  left: 15rem;
}

header.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

header.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
}

section.intro {
  background-color: #f6f6f6;
  padding: 100px 0 120px;
}

section.intro .flexWrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.intro .flexWrapper h2 {
  margin: 20px;
}

section.intro .flexWrapper p {
  margin: 20px 0;
}

section.intro .flexWrapper a {
  margin: 20px;
}

section.articles
.articleWrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.articles
.articleWrapper .imageWrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

section.articles
.articleWrapper .flexWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.articles
.articleWrapper .flexWrapper h3 {
  margin-bottom: 1rem;
}

section.articles
.articleWrapper .flexWrapper p {
  margin: 1rem 0;
}

section.articles
.articleWrapper .flexWrapper a {
  margin-top: 1rem;
}

.article1 .flexWrapper {
  margin: 10rem 0 5rem 10rem;
}

.article1 .imageWrapper {
  top: -5rem;
  -webkit-box-shadow: 2rem 2rem #709b6b, -55rem 2rem #709b6b;
          box-shadow: 2rem 2rem #709b6b, -55rem 2rem #709b6b;
}

.article2 .flexWrapper {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 10rem 5rem 0rem;
}

.article2 .imageWrapper {
  bottom: -5rem;
  -webkit-box-shadow: 2rem 2rem #345231, 55rem 2rem #345231;
          box-shadow: 2rem 2rem #345231, 55rem 2rem #345231;
}

@media (max-width: 1200px) {
  section.intro {
    padding-bottom: 8rem;
  }
  section.articles {
    padding-top: 5rem;
  }
  .articleWrapper.article1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articleWrapper.article1 .flexWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 15rem;
    text-align: center;
  }
  .articleWrapper.article1 .imageWrapper {
    width: 70%;
    top: 0;
    -webkit-box-shadow: 2rem 2rem #709b6b;
            box-shadow: 2rem 2rem #709b6b;
  }
  .articleWrapper.article2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articleWrapper.article2 .flexWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 15rem;
    text-align: center;
  }
  .articleWrapper.article2 .imageWrapper {
    width: 70%;
    bottom: 0;
    -webkit-box-shadow: 2rem 2rem #345231;
            box-shadow: 2rem 2rem #345231;
  }
}

section.about {
  background-color: #f6f6f6;
  padding: 12rem 0;
  margin-top: 3rem;
}

section.about > .wrapper > .flexWrapper .imageWrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-shadow: 2rem 2rem #709b6b;
          box-shadow: 2rem 2rem #709b6b;
  position: relative;
  top: -2rem;
}

section.about > .wrapper > .flexWrapper .flexWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.about > .wrapper > .flexWrapper .flexWrapper a {
  margin-top: 1rem;
}

section.gallery > .wrapper > .flexWrapper {
  margin: 10rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.gallery > .wrapper > .flexWrapper .imageWrapper {
  width: calc((100% / 3) - (8rem / 3));
}

section.links {
  background-color: #f6f6f6;
  padding: 3rem 0 10rem;
}

section.links > .wrapper > .flexWrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.linkWrapper {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 8rem 0 0 8rem;
  position: relative;
}

.linkWrapper i {
  position: absolute;
  left: -8rem;
  top: -1rem;
  background-color: #e4a436;
  border-radius: 50%;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 1.4rem;
}

main.contactMain,
main.blogPost {
  background-color: #f6f6f6;
}

aside {
  background-color: #ffffff;
  padding: 5rem 3.5rem;
}

main.contactMain {
  padding: 10rem 0;
}

main.contactMain aside {
  width: 62rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 3.8rem;
}

.contactMain ul.iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #345231;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
}

main.blogPost {
  padding: 10rem 0;
}

div.blogSidebar,
div.blogContent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.blogSidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-right: 2rem;
}

aside.aboutAside {
  margin-bottom: 1rem;
}

aside.recentPosts {
  margin-top: 1rem;
}

div.blogContent {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin-left: 2rem;
}

div.blogContent article {
  background-color: #ffffff;
}

article {
  padding: 5rem 3.5rem 3.5rem;
  margin: 0 0.7rem 3.5rem;
}

article h2 {
  margin-bottom: 3rem;
}

article p {
  margin: 1.5rem 0;
}

article.comment .imageWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  margin-right: 2rem;
}

article.comment .commentTextWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

article.comment .commentTextWrapper p {
  margin: 0;
}

article.lastComment,
article.blogPost {
  border-bottom: #709b6b 0.5rem solid;
}

form .flexWrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .flexWrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

form .flexWrapper textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  resize: none;
}

form .flexWrapper button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

input,
textarea {
  padding: 3rem;
  border-radius: none;
  border: none;
}

input,
textarea,
button {
  margin: 1rem 0.7rem;
}

input {
  margin-top: 0;
}

footer {
  background: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
